<div class="mainBlog">
  <div class="card">
    <div class="colors"  *ngFor= "let colors of apiColors?.result ; let i= index">
      <div class="col-md-12 color" id="color1" [ngStyle]="{'background-color':rgbColor}">
        <div class="row" [style.background-color]="getBackgroundColor(colors)" (keypress)="onKeypress($event,userinput)">
          <p class="col-md-6 hexColor">
            <span contenteditable class="hex" id="ref" #userinput>#{{colors}}</span>
          </p>
          <p class="col-md-6 icons">
            <i class="fas fa-copy clipboard" (click)="copyInputMessage(userinput)"></i>
          </p>  
        </div>
      </div>
    </div>
    <button class="btn btn-primary" (click)="refresh($event)">REFRESH</button>
  </div>
</div>